# Environment Variables
NODE_ENV=development
REDIS_URL=redis://localhost:6363
SQS_QUEUE_URL=https://sqs.region.amazonaws.com/123456789/queue-name
AWS_ACCESS_KEY_ID=your-access-key
AWS_SECRET_ACCESS_KEY=your-secret-key
LOG_LEVEL=info
